<?xml version="1.0"?>
<launch>
    <!-- <include file="$(find mavros)/launch/px4.launch">
    </include> -->

    <node pkg="rosserial_python" type="serial_node.py" name="serial_node1" output="screen">
        <param name="port" value="/dev/ttyUSB1"/>
        <param name="baud" value="19200"/>
    </node>
     <!-- <node pkg="rosserial_server" type="serial_node" name="rosserial_server" output="screen">
        <rosparam>
        port: /dev/ttyUSB0
        baud: 115200
        </rosparam>
    </node> -->
    <node pkg="telemetry" type="send_mainv2.py" name="telemetrynode_py" required="true"/>
    <node pkg="timecontrol_py" type="vertical_test.py" name="vertical_test_node_py" required="true" output="screen"/>
    <!-- <node pkg="timecontrol_py" type="vertical_test.py" name="vertical_test_node_py" required="true"/> -->

</launch>
